---
import { getCollection, getEntry, getEntries, render } from 'astro:content';

import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

import Logo from '../components/Logo.astro';
import BookShelfHeader from '../components/BookShelfHeader.astro';
import BookShelf from '../components/BookShelf.astro';
import BookCover from '../components/BookCover.astro';
import BookShelf1 from '../components/BookShelf_1.astro';
import BookShelf1_2 from '../components/BookShelf_1-2.astro';
import BookShelf3 from '../components/BookShelf_3.astro';
import BookShelf8 from '../components/BookShelf_8.astro';

import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';

// Today
const storesData = (await getCollection('store2025')).sort(
	(a, b) => b.data.date.valueOf() - a.data.date.valueOf(),
);
const data = storesData[0];
const heroBook = await getEntry(data.data.heroBook);
const shelves = await getEntries(data.data.selectedShelves);
const { Content } = await render(data);
---

<!doctype html>
<html lang="ja">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body class={`bg-neutral-200 text-neutral-600`}>
		<Header theme={data.data.theme} date={data.data.date} />
		<main>
			<BookShelfHeader
				book={heroBook}
				>
				<Content />
			</BookShelfHeader>
			{
				shelves.map((shelf) => (
						<BookShelf
							books={shelf.data.selectedBooks}
							layout={shelf.data.layout}
							shelf={shelf}
							/>
					)
				)
			}
		</main>
		<Footer />
	</body>
</html>
